# === MikroC (Dọn dẹp triệt để) ===
*.asm
*.brk
*.bmk
*.c.ini
*.cfg
*.cp
*.dlt
*.log
*.lst
*.mcl
*.user.gui
*.txt
*.dic
*.tdi
*.dbg
*.dct
*.callertable.txt
# Giữ lại file nạp .hex và file dự án .mcppi

# === C# / Visual Studio ===
bin/
obj/
.vs/
packages/
**/Project Backups/
*.user

# === Proteus ===
*.pdsprj.ARTORIA.*.workspace
